body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.img1{
    background-image: url(https://media.gettyimages.com/photos/people-walking-in-the-city-chicago-illinois-united-states-picture-id1178957569?s=2048x2048);
    min-height: 100%;
}


.text1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text1 .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}


.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.img2{
    background-image: url(https://media.gettyimages.com/photos/aerial-cityscape-of-chicago-and-lake-michigan-picture-id534056489?s=2048x2048);
    min-height: 100%;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border.trans {
    background-color: transparent;
}


.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.img3{
    background-image: url(https://media.gettyimages.com/photos/golden-gate-bridge-san-francisco-usa-picture-id585577624?s=2048x2048);
    min-height: 400px;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border.trans {
    background-color: transparent;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.img1{
    background-image: url(https://media.gettyimages.com/photos/people-walking-in-the-city-chicago-illinois-united-states-picture-id1178957569?s=2048x2048);
    min-height: 100%;
}

.img1, .img2, .img3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
